




<div class="numbers">
    <button (click)="normal()"><b>Числа по порядку (остановить/перезапустить)</b></button>
<button (click)="random()"><b>Рандомные числа (остановить/перезапустить)</b></button>
    <table class="table table-striped container pt-10">
      <tbody>
        <tr *ngFor="let count of numberArray">
            <td>{{ count }}</td> 
        </tr>
      </tbody>
      </table>
    <table class="table table-striped container pt-10">
        <tbody>
            <tr *ngFor="let count1 of randomArray">
                <td >{{ count1 }}</td>
            </tr>
        </tbody>
      </table>
  </div>