  <div class="example-button-row">
    <button mat-raised-button color="warn" (click)="getButton1()">1 кнопка</button>
    <button mat-raised-button color="primary" (click)="getButton2()">2 кнопка</button>
    <button mat-raised-button color="accent" (click)="getButton3()">3 кнопка</button>
    <button mat-raised-button color="warn" (click)="getButton4()">4 кнопка</button>
    <button mat-raised-button color="primary" (click)="getButton5()">5 кнопка</button>
    <button mat-raised-button color="accent" (click)="getButton6()">6 кнопка</button>
    <button mat-raised-button color="warn" routerLink="post1">Resolve Route</button>
  </div>
<router-outlet></router-outlet>